body {
    background: #333;
    color: #ddd;
    font-family: Arial, sans-serif;
}

#puzzleContainer {
    position: relative;
    margin: 20px auto;
    width: 400px;
    height: 300px;
    border: 1px solid #ddd;
    background: #111;
}

.puzzle-piece {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
}

.puzzle-piece span {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
}

.show span {
    display: block;
}

#controls {
    text-align: center;
    margin-top: 20px;
}

.button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    z-index: 10;
}

#finalMessage {
    position: fixed;
    bottom: 80px; /* Ajusta la posición del mensaje */
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    opacity: 0;
    z-index: 11;
}
